#try2{
  text-align: center;
  font-weight:lighter
}

#try3{
  font-weight:500;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* 1 inch has 96 pixels */
#try4{
  font-size:20px;
}

#para1{
  /* gap between lines */
  line-height:30px;
}

#para2{
  text-transform:uppercase;
}

