div{
  height: 100px;
  width: 100px;
  background-color: pink;
  border: 2px solid black;
  /* rotate: z 90deg; // visible in this case */
  /* rotate: x 90deg; //it disappears because on rotation it becomes flat*/
}

#box2{
  position: relative;
  top: 200px;
  
  transition: all 5s ease-in-out;
}

#box2:hover{
  /* scale along width and height  */
  transform: scale(1,3);
  rotate: z 180deg;
  
}

#box3{
  position: absolute;
  top: 500px;
  left: 500px;
  transition: all 5s ease-in-out;
}

#box3:hover{
  /* transform: translateX(-300px); */
  /* transform: translateY(300px); */
  /* transform: translate(300px, -300px); */
  transform: skew(45deg);
}