*{
  margin:1%;
  padding: 0%;
}

div{
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 2px solid black;
  display: inline-block;
}

#box1{
  background-size: cover;
  /* background-size: contain; */
  /* background-size: auto; */
  background-image: url(/2_CSS/Images/dino.jpg);
  height:130px;
}