.test1{
    height: 200px;
    background-image: linear-gradient(to right, red 80%, blue 90%);
}

.test2{
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background: conic-gradient(
        red 0deg 90deg,
        blue 90deg 180deg,
        green 180deg 270deg,
        yellow 270deg 360deg
    );
    border-radius: 50%;
}

h1{
    color: white;
    text-shadow: -1px 0 black, 0 -1px black, 1px 0 black, 0 1px black;
}