/* ==============  GENERAL =============== */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}

a{
  text-decoration: none;
}

body{
  background-color: black;
  font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
}

/* ============= HEADER ================ */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.2rem;
}

.header-left{
  width: 40vw;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-left i{
  font-size: 2.2rem;
}

.left-logo{
  margin: 15px;
  cursor: pointer;
  transition: 0.2;
}

.left-logo:hover{
  filter: brightness(2);
}

.left-home{
  margin-right: 20px;
  transition: 0.2s;
  cursor: pointer;
}

.left-home:hover{
  filter: brightness(2);
  transform: scale(1.05);
}

.left-search-bar{
  width: 90%;
  height: 75%;
  border-radius: 12rem;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.left-search-bar:hover{
  filter: brightness(1.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.left-search-bar i{
  font-size: 1.4rem;
}

.left-search-icon{
  margin: 10px;
  transition: 0.2s;   
}

.left-search-icon:hover{
  cursor: pointer;
  filter: brightness(2);
}

.left-search-bar input{
  width: 80%;
  height: 60%;
  border: none;
  border-right: 1px solid rgba(255, 255, 255, 0.445);
  background-color: transparent;
  font-size: 1rem;
  color: white;
  margin-right: 8px;
}

.left-search-bar input::placeholder{
  color: rgba(255, 255, 255, 0.527);
}

.left-browse{
  padding-right: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.left-browse:hover{
  filter: brightness(2);
  scale: 1.05;
}

.header-right{
  height: auto;
  width: 38vw;
  height: 100%;
  display: flex;
  align-items: center;
}

.right-links{
  display: flex;
  align-items: center;
  gap: 7px;
  margin-right: 35px;
  width: 42%;
  height: 50%;
  border-right: 1px solid white;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(179, 179, 179);
}

.right-links p{
  transition: 0.1s;
}

.right-glow:hover{
  cursor: pointer;
  transform: scale(1.05);
  color: white;
}

.right-account{
  display: flex;
  align-items: center;
  color: rgb(179, 179, 179);
  height: 100%;
  font-size: 0.9rem;
  font-weight: 600;
}

.right-install{
  margin-right: 25px;
  transition: 0.1s;
}

.right-signup{
  margin-right: 10px;
  transition: 0.1s;
}

.right-login{
  height: 75%;
  width: 110px;
  border-radius: 30px;
  border: none;
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.1s;
}

.right-login:hover{
  background-color: #faf9f9ee;
  transform: scale(1.01);
  cursor: pointer;
}

/* ============== MAIN ================ */







/* =============== FOOTER =================== */